.highlights {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    background-image: url('/public/images/highlights-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ff0;
    font-size: 100px;
}

@media screen and (max-width: 960px) {
    .highlights {
        font-size: 50px;
    }
}